/*
 * Markdown / Task List
 */
ul.contains-task-list {
  @apply p-0;
}
ul.contains-task-list > li {
  @apply list-none;
}
ul.contains-task-list > li > input[type='checkbox'] {
  @apply m-0 mr-2;
}

/*
 * Markdown / Footnotes
 */
[id^='user-content-fn-'] > p {
  @apply m-0;
}
[id^='user-content-fnref-']::before {
  content: '[';
}
[id^='user-content-fnref-']::after {
  content: ']';
}

/*
 * Expressive Code：https://expressive-code.com/
 */
.expressive-code .frame.is-terminal .header::before {
  background-image: linear-gradient(to right, #c95b5b 30%, 30%, #e0b054 70%, 70%, #62b162);
  opacity: 0.8 !important;
}

/*
 * Scrollspy
 */
.active {
  @apply bg-sky-900;
}

/* 
 * Tailwind CSS / Typography
 */
.prose {
  @apply dark:prose-invert;
  @apply hover:prose-a:text-red-600;
  @apply prose-a:duration-500;
  @apply prose-a:no-underline;
  @apply prose-a:text-sky-500;
  @apply prose-code:after:invisible;
  @apply prose-code:before:invisible;
  @apply prose-code:bg-slate-700;
  @apply prose-code:px-2;
  @apply prose-code:py-1;
  @apply prose-code:rounded-md;
  @apply prose-code:text-orange-400;
  @apply prose-h2:bg-slate-700;
  @apply prose-h2:p-6;
  @apply prose-h2:rounded-md;
  @apply prose-img:mx-auto;
  @apply prose-img:rounded-md;
  @apply prose-strong:border-b-2;
  @apply prose-strong:border-red-600;
  @apply prose-table:overflow-hidden;
  @apply prose-table:rounded-md;
  @apply prose-td:border-2;
  @apply prose-td:border-slate-600;
  @apply prose-td:p-3;
  @apply prose-th:bg-slate-700;
  @apply prose-th:border-2;
  @apply prose-th:border-slate-600;
  @apply prose-th:p-3;
}
.prose > *:not(:first-child):not(:last-child) {
  @apply my-12;
}
