---
import { FaPencil } from 'react-icons/fa6'

interface Props {
  id: string
}

const { id } = Astro.props
---

<a
  aria-label="edit"
  class="duration600 block rounded-md bg-slate-800 p-6 text-center duration-500 hover:bg-slate-700"
  href={`https://github.com/l7u7ch/xenexe/tree/master/src/content/blog/${id}`}
  rel="nofollow noopener noreferrer"
  target="_blank"
>
  <FaPencil className="inline" />
  {' この記事を編集する'}
</a>
