---
import { FaHome } from 'react-icons/fa'
import { FaRss } from 'react-icons/fa6'
import { FaSearch } from 'react-icons/fa'
import { MdDashboardCustomize } from 'react-icons/md'
import { PiGithubLogoFill } from 'react-icons/pi'
---

<header class="bg-slate-800">
  <div class="flex justify-between p-4">
    <!-- 1. Left -->
    <div class="flex gap-4">
      <!-- 1.1. Home -->
      <a
        aria-label="home"
        class="flex h-10 w-10 items-center justify-center rounded-full bg-slate-700 duration-500 hover:bg-slate-600"
        href="/"
      >
        <FaHome />
      </a>
      <!-- 1.2. Dashboard -->
      <a
        aria-label="dashboard"
        class="flex h-10 w-10 items-center justify-center rounded-full bg-slate-700 duration-500 hover:bg-slate-600"
        href="/dashboard"
      >
        <MdDashboardCustomize />
      </a>
      <!-- 1.3. Search -->
      <div x-data="{open: false}">
        <button
          x-on:click="open = true"
          class="flex h-10 w-10 items-center justify-center rounded-full bg-slate-700 duration-500 hover:bg-slate-600"
        >
          <FaSearch />
        </button>
        <div
          x-cloak
          x-show="open"
          class="fixed left-0 top-0 flex h-full w-full items-center justify-center bg-black bg-opacity-50"
        >
          <div x-on:click.away="open = false" class="max-w-xs bg-red-600 p-4">WIP</div>
        </div>
      </div>
    </div>
    <!-- 2. Right -->
    <div class="flex gap-4">
      <!-- 2.1. GitHub -->
      <a
        aria-label="github"
        class="flex h-10 w-10 items-center justify-center rounded-full bg-slate-700 duration-500 hover:bg-slate-600"
        href="https://github.com/l7u7ch/xenexe"
        rel="nofollow noopener noreferrer"
        target="_blank"
      >
        <PiGithubLogoFill />
      </a>
      <!-- 2.2. RSS -->
      <a
        aria-label="rss"
        class="flex h-10 w-10 items-center justify-center rounded-full bg-slate-700 duration-500 hover:bg-slate-600"
        href="/rss.xml"
        rel="nofollow noopener noreferrer"
        target="_blank"
      >
        <FaRss />
      </a>
    </div>
  </div>
</header>
