---
import { FaCalendarDays, FaRotate, FaFileLines, FaBookOpen } from 'react-icons/fa6'
import dayjs from 'dayjs'

interface Props {
  publishedAt: Date
  updatedAt: Date
  words: number
}

const { publishedAt = new Date(), updatedAt = new Date(), words = 0 } = Astro.props
---

<div class="rounded-md bg-slate-800 py-3">
  <!-- 1. 投稿日 -->
  <div class="flex justify-between px-6 py-3">
    <span>
      <FaCalendarDays className="inline" />
      {' 投稿日'}
    </span>
    {dayjs(publishedAt).format(`YYYY-MM-DD`)}
  </div>

  <!-- 2. 更新日 -->
  <div class="flex justify-between px-6 py-3">
    <span>
      <FaRotate className="inline" />
      {' 更新日'}
    </span>
    {dayjs(updatedAt).format(`YYYY-MM-DD`)}
  </div>

  <!-- 3. 文字数 -->
  <div class="flex justify-between px-6 py-3">
    <span>
      <FaFileLines className="inline" />
      {' 文字数'}
    </span>
    {`${words} 文字`}
  </div>

  <!-- 4. 読了時間 -->
  <div class="flex justify-between px-6 py-3">
    <span>
      <FaBookOpen className="inline" />
      {' 読了時間'}
    </span>
    {`約 ${Math.ceil(words / 400)} 分`}
  </div>
</div>
