---
import { FaHeart } from 'react-icons/fa6'
---

<a
  class="flex items-center justify-center rounded-md bg-slate-800 py-6 duration-500 hover:bg-slate-700"
  href="/about-me#4-活動支援"
>
  <FaHeart className="text-red-600" />
  &nbsp; この活動を支援する
</a>
